Note: Some code modified from lecture's notebook

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn import model_selection
from sklearn.metrics import r2_score
from sklearn import neighbors
import collections

# Q1

In [2]:
df_hour = pd.read_csv('./bike+sharing+dataset/hour.csv')
df_hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [3]:
df_day = pd.read_csv('./bike+sharing+dataset/day.csv')
df_day.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [4]:
df_hour_drop = df_hour.drop(['instant' , 'dteday','casual' , 'registered' , 'cnt'], axis=1)
df_hour_drop.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0

In [5]:
df_day_drop = df_day.drop(['instant' , 'dteday' , 'casual' , 'registered' , 'cnt'], axis=1)
df_day_drop.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446
1,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539
2,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309
3,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296
4,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900

In [6]:
print('hour')
models = [LinearRegression(),KNeighborsRegressor()]
predicts = ['casual' , 'registered' , 'cnt']
feature = list(df_hour_drop)
X=df_hour_drop[feature]
      
def train(model):
    y=df_hour[predict]
    kfold = model_selection.KFold(n_splits=5)
    r2 = model_selection.cross_val_score(model, X, y, cv=kfold, scoring='r2')
    neg_mean_squared_error = model_selection.cross_val_score(model, X, y, cv=kfold, scoring='neg_mean_squared_error')
    r2_mean = r2.mean()
    mse_mean=neg_mean_squared_error.mean()
    print('Model:',model)
    print('R2:', abs(r2_mean))
    print('MSE:', abs(mse_mean))
for model in models:
      for predict in predicts:
        print()
        print('Predicts:',predict)
        train(model)

hour

Predicts: casual
Model: LinearRegression()
R2: 0.21451895598297788
MSE: 1498.4125076312766

Predicts: registered
Model: LinearRegression()
R2: 0.21647676130794066
MSE: 15797.208807015824

Predicts: cnt
Model: LinearRegression()
R2: 0.24248243957182863
MSE: 21303.391094605184

Predicts: casual
Model: KNeighborsRegressor()
R2: 0.522034739155139
MSE: 845.3736107246401

Predicts: registered
Model: KNeighborsRegressor()
R2: 0.36369059358267786
MSE: 9506.546750100255

Predicts: cnt
Model: KNeighborsRegressor()
R2: 0.4011517483657089
MSE: 13218.859712103713

In [7]:
print('day')
models = [LinearRegression(),KNeighborsRegressor()]
predicts = ['casual' , 'registered' , 'cnt']
feature = list(df_day_drop)
X=df_day_drop[feature]
      
def train(model):
    y=df_day[predict]
    kfold = model_selection.KFold(n_splits=5)
    r2 = model_selection.cross_val_score(model, X, y, cv=kfold, scoring='r2')
    neg_mean_squared_error = model_selection.cross_val_score(model, X, y, cv=kfold, scoring='neg_mean_squared_error')
    r2_mean = r2.mean()
    mse_mean=neg_mean_squared_error.mean()
    print('Model:',model)
    print('R2:', abs(r2_mean))
    print('MSE:', abs(mse_mean))
for model in models:
      for predict in predicts:
        print()
        print('Predicts:',predict)
        train(model)

day

Predicts: casual
Model: LinearRegression()
R2: 0.19960511434426753
MSE: 205017.51266836323

Predicts: registered
Model: LinearRegression()
R2: 0.39308643127205917
MSE: 573125.0011725498

Predicts: cnt
Model: LinearRegression()
R2: 0.14798117768654345
MSE: 1015257.9871236192

Predicts: casual
Model: KNeighborsRegressor()
R2: 0.22054436793692114
MSE: 225709.48848569565

Predicts: registered
Model: KNeighborsRegressor()
R2: 2.40694446915352
MSE: 2881763.670183208

Predicts: cnt
Model: KNeighborsRegressor()
R2: 2.3945796310020455
MSE: 4130593.09925226

# Q2

In [8]:
df_seeds = pd.read_table('./seeds/seeds_dataset.txt', header = None, sep = "\\s+")
df_seeds.head()

       0      1       2      3      4      5      6  7
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1

In [9]:
X_matrix=df_seeds.iloc[:,0:7]
X_matrix.head()

       0      1       2      3      4      5      6
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175

In [10]:
y=df_seeds.iloc[:,7]
y

0      1
1      1
2      1
3      1
4      1
      ..
205    3
206    3
207    3
208    3
209    3
Name: 7, Length: 210, dtype: int64

In [11]:
knearest_clf = neighbors.KNeighborsClassifier(n_neighbors=3, weights='uniform') 
knearest_clf.fit(X_matrix, y)

KNeighborsClassifier(n_neighbors=3)

In [12]:
seeds_preds=knearest_clf.predict(X_matrix)
print("predicted:", seeds_preds)
print("truth", y)

predicted: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 3 1 1 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 3 1 1 1 1 1 1 3 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2 1 2 2 2 2 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3]
truth 0      1
1      1
2      1
3      1
4      1
      ..
205    3
206    3
207    3
208    3
209    3
Name: 7, Length: 210, dtype: int64

In [13]:
print("Clusters predict:")
print(collections.Counter(seeds_preds))
print("Truth:")
print(collections.Counter(y))

Clusters predict:
Counter({3: 75, 2: 68, 1: 67})
Truth:
Counter({1: 70, 2: 70, 3: 70})